
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
/*$red: #e3342f;*/
$red: #ca322d;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark-red: #ca322d;
$dark-blue: #012083;
$light-brown: #fcf6ef;
$light-brown2: #f0ebe3;

$font-roboto: 'Roboto', sans-serif;
$font-istok: 'Istok Web', sans-serif;
$font-lobster: 'Lobster', cursive;