// Fonts
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";
@import "froala-plugins";

h1, h2, h3 {
  font-family: $font-lobster;
  //font-weight: $font-weight-bold;
  text-align: center;
  /*color: $dark-blue;*/
  color: $bbc-red;
}

.logo {
margin-bottom: 15px;
  min-height: 135px;
}

h4 {
  font-family: $font-lobster;
}

body {
  padding-top: 50px;
  font-family: $font-roboto;
 // background-color: #fffbef;
  background-color: #f4ede5;
}

p {
  margin-bottom: 0;
  line-height: 20px;
}

.underlayer {
  padding: 10px 30px 10px;
  //background-color: #f9f9f9;
  background-color: #f8f5f3;
  margin-top: 25px;
}

.navbar.my-navbar {
  a {
    font-size: 16px;
  }
  .navbar-brand {
    font-family: $font-lobster;
    font-size: 20px;
  }
}

.main-content {
  //margin-top: 45px;
  //background-color: $sand;
  border-radius: 10px;
  padding: 0px 50px;
  min-height: calc(80vh - 58px);

}

.lead {
  color: $bordo;
  margin-bottom: 5px;
}

hr.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  overflow: visible; /* For IE */
  padding: 0;
  text-align: center;

  &:after {
    content: "\2666";
    display: inline-block;
    position: relative;
    top: -19px;
    font-size: 1.5em;
    padding: 0 0.25em;
    /*background: #f8fafc;*/
    color: $bordo;
    background: transparent;
  }
}

a, a.btn {
  &:hover {
    transition: 1s all;
  }
}

.brown-navbar {
  //background-color: $bbc-red !important;
  background-color: rgba(255, 255, 255, 0.6196078431372549) !important;
  padding: 4px 16px;
  a {
    //color: #fff !important;
    color: $bbc-red !important;
    text-align: center;
    &:hover {
      color: $blue !important;
      transition: 0.5s all;
    }
  }
  li.nav-item-custom a {
    height: 49px;
    display: table-cell;
    vertical-align: middle;
    max-width: 128px;
    line-height: 17px;
  }
}

.top-container {
  //border-bottom: 1px solid #bb1919;
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px 50px 15px;
  .top-block {
    padding: 20px;
    text-align: center;
  }
  img {
    max-width: 100%;
    padding-top: 11px;
  }
  .top-block-buttons {
    padding-top: 40px;
  }
}

.card-content {
  margin-top: 15px;
}

.fr-wrapper.show-placeholder,
.fr-wrapper {
  div {
    a {
     display: none !important;
    }
  }
}

.text-small {
  font-size: 9px;
}

.daily-card-img {
  max-height: 420px;
  max-width: 100%;
}

.btn-consultation {
  width: 200px;
}

footer {
  margin-top: 20px;
  padding: 25px 0;
  border-top: 1px solid #e4e4e4;
  background-color: #ddd5cd;

  .fondy-logo {
    max-width: 300px;
    margin: 10px 0;
  }
}

@media(max-width:1200px) {
  .main-page-content {
    p {
      text-align: left !important;
    }
    div {
      line-height: 18px;
    }
  }

  .btn-consultation {
    font-size: 12px;
    width: 180px;
  }

  .navbar-collapse {
    ul li {
      margin: auto;

      a {
        height: 25px;
      }
    }
  }

  .brown-navbar {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
}

@media(max-width:767px) {
  .main-content {
    padding: 0;
  }

  .btn-consultation {
    margin-top: 20px;
    font-size: 11px;
    width: 155px;
  }
}

@media(max-width:575px) {
  .btn-consultation {
    font-size: 10px;
    width: 145px;
  }

  .logo {
    font-size: 45px;
    min-height: 75px;
  }
}

@media(max-width:450px) {
  .logo {
    font-size: 35px;
    min-height: 90px;
  }
  .btn-consultation {
    width: 120px;
    padding: 2px;
  }
}