// Fonts
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";
@import "froala-plugins";

h1, h2, h3 {
  font-family: $font-lobster;
  //font-weight: $font-weight-bold;
  text-align: center;
  /*color: $dark-blue;*/
  color: $bbc-red;
}

.sub-title {
    font-family: $font-lobster;
    color: $dark-blue;
    font-size: 25px;
}

.invalid-feedback {
    display: block;
}

.logo {
  min-height: 60px;
  line-height: 65px;
  font-size: 45px;
}

h4 {
  font-family: $font-lobster;
}

body {
  padding-top: 50px;
  font-family: $font-roboto;
 // background-color: #fffbef;
  background-color: #f4ede5;
}

p {
  margin-bottom: 0;
  line-height: 20px;
}

.underlayer {
  padding: 8px 30px 10px;
  //background-color: #f9f9f9;
  background-color: #f8f5f3;
  margin-top: 18px;
}

.navbar.my-navbar {
  a {
    font-size: 15px;
  }
  .navbar-brand {
    font-family: $font-lobster;
    font-size: 20px;
  }
}

.main-content {
  //margin-top: 45px;
  //background-color: $sand;
  border-radius: 10px;
  padding: 0px 50px;
  min-height: calc(80vh - 58px);

}

.sub-logo {
  font-size: 54px;
  margin-bottom: 5px;
}

hr.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  overflow: visible; /* For IE */
  padding: 0;
  text-align: center;

  &:after {
    content: "\2666";
    display: inline-block;
    position: relative;
    top: -19px;
    font-size: 1.5em;
    padding: 0 0.25em;
    /*background: #f8fafc;*/
    color: $bordo;
    background: transparent;
  }
}

a {
    color: $dark-blue;
}

a, a.btn {
  &:hover {
    transition: 1s all;
  }
}

.brown-navbar {
  //background-color: $bbc-red !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 4px 16px;
  a {
    //color: #fff !important;
    color: $bbc-red !important;
    text-align: center;
    &:hover {
      color: $dark-blue !important;
      transition: 0.5s all;
    }
  }
  li.nav-item-custom a {
    height: 49px;
    display: table-cell;
    vertical-align: middle;
    max-width: 240px;
    line-height: 17px;
  }
}

.top-container {
  //border-bottom: 1px solid #bb1919;
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 18px;
  margin-bottom: 15px;
  padding: 20px 50px 15px;
  .top-block {
    padding:0px 20px 13px;
    text-align: center;
  }
  #header-img {
      max-width: 100%;
      padding-top: 17px;
      /*
      position: absolute;
      */
      bottom: 0;
      left: 15px;
  }
  .top-block-buttons {
    padding-top: 40px;
  }
}

.main-top-btn {
  margin-top: 19px !important;
}
.card-content {
  margin-top: 15px;
}

.my-btn-link {
    text-decoration: underline;
    color: $dark-blue;
}

.fr-wrapper.show-placeholder,
.fr-wrapper {
  div {
    a {
     display: none !important;
    }
  }
}

.link {
    text-decoration: underline;
    color: #0f6dbb;
}

.text-small {
  font-size: 9px;
}

.daily-card-img {
  max-height: 420px;
  max-width: 100%;
}

.btn-consultation {
  width: 200px;
}

footer {
  margin-top: 20px;
  padding: 25px 0;
  border-top: 1px solid #e4e4e4;
  background-color: #ddd5cd;

  .fondy-logo {
    max-width: 300px;
    margin: 10px 0;
  }
}

.badge-status {
    font-size: 15px;
}
.card {
  border: none;
}
.card-body {
  background-color: #f8f5f3;
}

.menu-email-icon {
    margin-right: 10px;
}

.menu-runes {
    max-width: 105px !important;
}

#youtube {
    margin-bottom: 8px;
}

@media(max-width:1200px) {
  .main-page-content {
    .text-justify-mobile,
    .text-justify-mobile p,
    .text-justify-mobile.p {
      text-align: justify !important;
    }
    p {
      text-align: left;
    }
    div {
      line-height: 18px;
    }
  }

  .btn-consultation {
    font-size: 12px;
    width: 180px;
  }

  .navbar-collapse {
    ul li {
      margin: auto;

      a {
        height: 25px;
      }
    }
  }

  .brown-navbar {
      li.nav-item-custom a {
          max-width: none;
          line-height: 25px;
      }
      background-color: rgba(255, 255, 255, 0.95) !important;
  }
    .navbar.my-navbar a {
        font-size: 23px;
    }

    .navbar-nav {
        overflow-y: scroll;
        max-height: -webkit-fill-available;
    }

    .menu-email-icon {
        margin-right: 0;
    }

    .logo {
        min-height: 59px;
        line-height: 37px;
    }

    .menu-runes {
        max-width: 100% !important;
    }
    .top-container #header-img {
        position: inherit;
        left: 0;
    }

}

// sm
@media(max-width:767px) {
  .main-content {
    padding: 0;
  }

  .btn-consultation {
    /*margin-top: 20px;
    font-size: 11px;
    width: 155px;*/
      font-size: 16px;
      margin-top: 0px;
      width: 185px;
  }
    .random-card-btn {
        width: 100%;
        margin-bottom: 10px;
    }
    /*btn-consultation {
        font-size: 12px;
        width: 180px;
    }*/
    .btn {
        font-size: 16px !important;
    }
    .logo {
        min-height: 59px;
        line-height: 37px;
    }
}

@media(max-width:575px) {
  .logo {
    font-size: 45px;
      min-height: 59px;
      line-height: 39px;
  }
}

@media(max-width:450px) {
  .logo {
    font-size: 35px;
  }
  .btn-consultation {
    padding: 2px;
  }
}
